label {
  color: rgb(242, 255, 255);
  margin: 0.5rem;
}
form {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: auto;
  max-width: 640px;
 
}
form input,
form textarea {

  padding: 10px 18px;
  font-size: 1.2rem;
  background-color: rgb(39, 49, 49);
  border-color: rgb(215, 202, 202);
  color: #000;
  border-radius: 12px;
}
.btn{
  background-color: rgb(213, 181, 18);
}